body {
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

spam {
  position: relative;
  font-family: "Lato", Sans-Serif;
  top: 20px;
  color: white;
  display: inline-block;
  font-size: 5rem;
  text-shadow: 0 1px 0 #b7b7b7, 0 2px 0 #b7b7b7, 0 3px 0 #b7b7b7, 0 4px 0 
  #b7b7b7, 0 5px 0 #b7b7b7, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 
  0 transparent, 0 9px 0 transparent, 0 10px 10px rgba(0,0,0.5);
  animation: bounce 0.4s ease infinite alternate;
}

h1 spam:nth-child(2) {
  animation-delay:0.1s;
}

h1 spam:nth-child(3) {
  animation-delay:0.2s;
}

h1 spam:nth-child(4) {
  animation-delay:0.3s;
}

h1 spam:nth-child(5) {
  animation-delay:0.4s;
}

h1 spam:nth-child(6) {
  animation-delay:0.5s;
}

@keyframes bounce {
  100% {
    top: -20px;
    text-shadow: 0 1px 0 #ccc, 0 2px 0
    #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
    0 5px 0 #ccc, 0 6px 0 #ccc, 0 7px 0 
    #ccc, 0 8px 0 #ccc, 0 9px 0 #ccc, 0 60px 30px rgba(0,0,0,0.3);
  }
}